{% extends "epixilogpagesBundle:Layout:global.html.twig" %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/cinema/css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

<div class="video-content">
			<div class="top-header span_top">
				<div class="logo">
					<a href="index.html"><img src="{{ asset('bundles/cinema/images/logo.png') }}" alt="" /></a>
					<p>Movie Theater</p>
				</div>
				<div class="search v-search">
					<form>
						<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="right-content">
				<div class="right-content-heading">
					<div class="right-content-heading-left">
						<h3 class="head">Latest movies (Agust 2016)</h3>
					</div>
				</div>
				<!-- pop-up-box --> 
	
	

		<!--//pop-up-box -->

				<div class="content-grids">
					<div id="small-dialog" class="mfp-hide">
						<iframe  src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
					</div>	
			 </div>
			</div>
			<div class="clearfix"> </div>
			</div>
  
{% endblock %}

{% block footScript %}
  {{ parent() }}

	<script src="{{ asset('bundles/cinema/js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
		 <script>
				$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				});
		</script>		
    
    <script>
       $.ajax({
              method: "GET",
              dataType : 'html',
              url: "{{ path('film_index') }}",
              success : function(result){
                    $(".content-grids").append(result);
              }
       });
    </script>
    
{% endblock %}